{%extends 'layout.html'%}
{%block content%}
<div class="container-fluid d-grid">
    <h1
      id="about-us-title"
      class="mx-auto mt-2 mb-5 fw-bold font-monospace border-bottom border-danger"
    >
      SOS Hotline in ZHU HAI
    </h1>
    <div class="container-sm mx-auto">
        <ul class="list-group">
            <li class="list-group-item"><h4>Zhuhai Red Cross Society</h4>Contact Number: 0756-2222321 <br><a class="link-info text-decoration-none" href="https://www.redcrosszh.org.cn/" target="_blank">https://www.redcrosszh.org.cn/</a></li>
            <li class="list-group-item"><h4>Zhuhai City Health Bureau</h4>Contact Number: 0756-2128353 <br><a class="link-info text-decoration-none" href="https://wsjkj.zhuhai.gov.cn/bmfw/jyfw/yljg/" target="_blank">https://wsjkj.zhuhai.gov.cn/bmfw/jyfw/yljg/</a></li>
            <li class="list-group-item"><h4>Zhuhai heart power mental health Service center</h4>
                Contact Number: 13727078857<br>
                <a class="link-info text-decoration-none" href="http://www.xindonglixinli.com/#" target="_blank">http://www.xindonglixinli.com/#</a></li>
            <li class="list-group-item"><h4>National Mental Health Network</h4>
                Contact Number: N/A<br>
                <a class="link-info text-decoration-none" href="https://www.cnnmh.cn/" target="_blank">https://www.cnnmh.cn/</a></li>
            <li class="list-group-item"><h4>National Medical Center for Mental Illness</h4>
                Contact Number: +86-10-64436109<br>
                <a class="link-info text-decoration-none" href="https://ncmhc.org.cn/" target="_blank">https://ncmhc.org.cn/</a></li>
        </ul>
    </div>
</div>
{%endblock content%}